h1 {
    width: auto;
    text-align: center;
    color: black;
    font-size: 50px;
    border: 1px solid grey;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    border-left: 10px solid black;
    border-top: 10px solid red ;
    background-image: url(https://ih1.redbubble.net/image.2285489490.1824/st,small,507x507-pad,600x600,f8f8f8.jpg);
    background-size: 100px;
}

h2 {
    width: auto;
    text-align: center;
    color: black;
    
    border: 1px solid grey;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    border-left: 10px solid black;
    border-top: 10px solid red ;
    background-color: red;
}

figure {
    width: 40%;
    padding: 5px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

figure:hover {
    color: red;
 cursor: pointer;
}

img {
    width: 100%;
    padding: 10px;  
}